.servicesTitle {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

.about_Section {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    color: #fff;
    font-family: 'Poppins';
}

.about_Container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 80%;
}

.about_images {
    position: relative;
}

.about_top_pointer_img {
    position: absolute;
    z-index: -1;
    /* width: 50%; */

}

.about_bot_pointer_img {
    position: absolute;
    z-index: -1;
    bottom: 9px;
    right: 0;
}

.aboutImage {
    max-width: 400px;
    border-radius: 13rem;
}

.aboutMe_container {
    width: 33%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about_description h1 {
    font-size: 50px;
}

.about_description p {
    font-size: 20px;
    line-height: 180%;
}

.about_CV_btn {
    background: linear-gradient(214.02deg, #2336AA 6.04%, #2336AA 92.95%);
    border: 3px solid #2336AA;
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
}

@media (max-width:1163px) {
    .about_Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutMe_container {
        width: 55%;
    }

}

@media (max-width:500px) {
    .about_Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutMe_container {
        width: 90%;
    }

    .aboutImage {
        max-width: 350px;
        border-radius: 12rem;
    }

    .about_top_pointer_img {
        width: 50%;
    }

    .about_bot_pointer_img {
        width: 50%;
    }
}